<!-- ========== FOOTER ========== -->
<footer>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <!-- WIDGET -->
                <div class="col-md-4">
                    <div class="footer-widget">
                        <img src="/images/main-logo.png" class="footer-logo img-fluid" alt="Hotel Homy" width="110px">
                        <div class="inner">
                            <p>We strive to make the lives of our patrons easier by multiplying revenue channels and using our technological
                                expertise
                                to maximize demand.
                            
                            </p>
                            {{!-- <a href="https://www.tripadvisor.com/" target="_blank">
                                <div class="tripadvisor-banner">
                                    <span class="review">Recommended</span>
                                    <img src="images/icons/tripadvisor.png" alt="Image">
                                </div>
                            </a> --}}
                        </div>
                    </div>
                </div>
                <!-- WIDGET -->
                {{!-- <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>LATEST NEWS</h3>
                        <div class="inner">
                            <ul class="latest-posts">
                                <li>
                                    <a href="#">10 Tips for holiday travel</a>
                                </li>
                                <li>
                                    <a href="#">Are you ready to enjoy your holidays</a>
                                </li>
                                <li>
                                    <a href="#">Honeymoon at Hotel Homy</a>
                                </li>
                                <li>
                                    <a href="#">Travel gift ideas for every type of traveler</a>
                                </li>
                                <li>
                                    <a href="#">Breakfast with coffee and orange juice</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> --}}
                <!-- WIDGET -->
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>USEFUL LINKS</h3>
                        <div class="inner">
                            <ul class="useful-links">
                                <li>
                                    <a href="/about">About Us</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/rooms">Rooms</a>
                                </li>
                                <li>
                                    <a href="#">Homy Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Our Location</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- WIDGET -->
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>Contact Info</h3>
                        <div class="inner">
                            <ul class="contact-details">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Mulavukad, Kochi, Kerala 682504
                                </li>
                                <li>
                                    <a href="tel:9778013518">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        Phone: +91 9778 0135 18
                                        </a>
                                </li>
                                <li>
                                    <a href="https://wa.me/9946099846" target="_blank">
                                        <i class="fa fa-whatsapp"></i>
                                        Whatsapp: +91 9946 0998 46
                                    </a>
                                </li>
                                {{!-- <li>
                                    <i class="fa fa-globe"></i>
                                    Web: www.hotelHomy.com
                                </li> --}}
                                <li>
                                    <a href="mailto:contact@hotelHomy.com">
                                    <i class="fa fa-envelope"></i>
                                    Email:
                                    contact@hotelHomy.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SUBFOOTER -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">&copy;
                        <script>document.write(/\d{4}/.exec(Date())[0])</script>
                        Hotel Homy. Designed by
                        {{!-- <a href="https://eagle-themes.com/" target="_blank">Eagle-Themes</a>. --}}
                    </div>
                </div>
                {{!-- <div class="col-md-6">
                    <div class="social-media">
                        <a class="facebook" data-original-title="Facebook" data-toggle="tooltip" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="twitter" data-original-title="Twitter" data-toggle="tooltip" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="googleplus" data-original-title="Google Plus" data-toggle="tooltip" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="pinterest" data-original-title="Pinterest" data-toggle="tooltip" href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a class="linkedin" data-original-title="Linkedin" data-toggle="tooltip" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="youtube" data-original-title="Youtube" data-toggle="tooltip" href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a class="instagram" data-original-title="Instagram" data-toggle="tooltip" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</footer>
<!-- ========== CONTACT NOTIFICATION ========== -->
<div id="contact-notification" class="notification fixed"></div>
<!-- ========== BACK TO TOP ========== -->
<div class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
