<!-- ========== MAIN ========== -->
<main class="error-404-page">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="error-num">404
                    <span class="text-uppercase">Error</span>
                </div>
            </div>
            <div class="col-md-7">
                <div class="error-mssg">
                    <h1 class="text-uppercase">
                        Page Not Found!</h1>
                    <p class="mt20">We're sorry, but we can't find the page you were looking for. It's probably some
                        thing we've done wrong but now we know about it and we'll try to fix it</p>
                    <div class="mt40">
                        <a href="/" class="btn btn-sm upper">Home Page</a>
                    </div>
                    <div class="mt60">
                        {{!-- <form class="search-form" action="#" method="get">
                            <div class="form-group">
                                <input type="text" name="search" class="form-control" placeholder="Search">
                                <button class="btn" type="submit">
                                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
