<div class="page-title gradient-overlay op6" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="inner">
            <h1>ABOUT Homy HOTEL</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="./">Home</a>
                </li>
                <li>About Homy Hotel</li>
            </ol>
        </div>
    </div>
</div>
<!-- ========== MAIN ========== -->
<main class="contact-page">
    <div class="container">
        <div class="entry">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title">
                        <h4 class="text-uppercase">Homy. Hotel since 2022</h4>
                        <p class="section-subtitle">High quality accommodation services</p>
                    </div>
                    <div class="info-branding">
                        <p>Homy, a modest Dutch start-up that was founded in Amsterdam in 2022, has developed into one of the top digital travel
                            companies worldwide. a component of Booking Holdings Inc It is Homy's goal to make it simpler for everyone to
                            travel.
                            Homy connects millions of visitors to unforgettable experiences, a wide range of transportation alternatives, and
                            amazing places to stay, including houses, hotels, and a lot more, by investing in technology that removes the
                            friction
                            from travel. Homy helps properties all over the world to reach a worldwide audience and expand their businesses as
                            one
                            of the biggest travel marketplaces for both established brands and business owners of all sizes.
                        
                            More than 28 million reported lodging ads are accessible on Homy, which is available in 43 languages.</p>
                        <p>
                            Homy is available in 43 languages and offers more than 28 million reported accommodation listings, including over
                            6.2
                            million homes, apartments, and other unique places to stay. Wherever you want to go and whatever you want to do,
                            Homy
                            makes it easy and supports you with 24/7 customer support.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="brand-info">
                        <div class="inner">
                            <div class="content">
                                <div>
                                    <img src="/images/logo-big-transparent.png" width="200px" alt="Hotel Himara">
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                {{!-- <h5 class="title">LUXURY HOTEL</h5> --}}
                                {{!-- <p class="mt20">Our mission at Homy is to make affordable travel accessible to more people, and to deliver
                                    affordable
                                    and enjoyable
                                    travel experiences that are seamless from end to end. By seamless, we mean hassle-free from the moment you start
                                    planning your trip. </p>
                                <p class="mt20">
                                    To get to our goal, we’ve spent the last 16 years building Homy.com and the Homy app to make searching and booking
                                    travel as easy and stress-free as it ought to be.
                                
                                    To date, we’ve accrued millions of registered customers, and with a truly global team of more than 4,000 people in
                                    25
                                    markets, we’re considered one of Asia’s leading tech companies.
                                </p> --}}
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</main>
