<div class="body-login">

    <section class="main">
        <div class="container ">
            <div class="row justify-content-md-center ">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 left_box">
                    <div>
                        <h5>Lorem Ipsum Simply Text of</h5>
                    </div>

                    <div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, architecto aliquam iste
                            provident, dignissimos excepturi vel esse numquam quos consequuntur ab</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 right_box">
                    <div class="cnt">
                        <div class="login">
                            <h6 class="text-uppercase"> Signup </h6>
                            <p class="text-danger">{{otperr}}</p>
                            <form action="/loginotp" method="POST">
                                <div class="form-group user_inp mb-lg-0">
                                    <label for="otp" style="margin: 0;" class="text-capitalize">
                                        <i class="fas fa-key"></i> OTP

                                    </label>
                                    <input type="number" class="form-control user" id="otp" name="otp"
                                        onkeyup="validateOtp()">
                                    <span id="otperror" class="form-error-msg"></span>
                                </div>

                                <button type="submit" class="btn sub-btn"
                                    onclick="return validateOtpForm(event)">Submit</button>
                                <span id="empty_notice" class="form-error-msg"></span>

                            </form>
                            <span id="resend" class="text-dark"></span>
                            <div id="timer-full">Resend Code in <span id="timer"></span></div>
                            
                            <script>
                                let timerOn = true;

                                function timer(remaining) {
                                    var m = Math.floor(remaining / 60);
                                    var s = remaining % 60;

                                    m = m < 10 ? '0' + m : m;
                                    s = s < 10 ? '0' + s : s;
                                    document.getElementById('timer').innerHTML = m + ':' + s;
                                    remaining -= 1;

                                    if (remaining >= 0 && timerOn) {
                                        setTimeout(function () {
                                            timer(remaining);
                                        }, 1000);
                                        return;
                                    }

                                    if (!timerOn) {
                                        // Do validate stuff here
                                        return;
                                    }

                                    // Do timeout stuff here
                                    document.getElementById('resend').innerHTML = '<a href="resent">Resent Otp</a>'
                                    document.getElementById('timer-full').innerHTML = ''
                                }

                                timer(60);
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
