<div class="page-content-wrapper ">

    <div class="container-fluid">
        {{!-- <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <a href="/super_admin/hotel/add_hotel_type"><button type="button"
                                class="btn btn-primary waves-effect waves-light mb-3">
                                <i class="mdi mdi-home-variant mr-2"></i>Add Hotel Type
                            </button></a>
                    </div>
                    <h4 class="page-title">Datatable</h4>
                </div>
            </div>
        </div> --}}

        <!-- end page title end breadcrumb -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="bg-light pb-3 mb-4">
                            <form action="/super_admin/add-coupon" method="POST">
                                <div class="row px-3">
                                    <div class="col-md-6">
                                        <h6 class="input-title">Offer Percentage</h6>
                                        <input type="text" class="form-control" name="percentage" id="percentage" onkeyup="validatePercentage()">
                                        <span id="percentage-err" class="form-error-msg"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="input-title">coupon Code</h6>
                                        <input type="text" class="form-control" name="offerCode" id="coupon-Code" onkeyup="validateCouponCode()">
                                        <span id="coupon-Code-err" class="form-error-msg"></span>
                                        <p class="text-danger">{{couponErr}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="input-title">coupon Count</h6>
                                        <input type="text" class="form-control" name="count" id="count" onkeyup="validateCount()">
                                        <span id="count-err" class="form-error-msg"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="input-title">Exp Date</h6>
                                        <input type="date" class="form-control" name="expire" id="expiry-date" required>
                                        <span id="date-err" class="form-error-msg"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="input-title">&nbsp;</h6>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light w-100" onclick="return validateAddCoupon(event)">
                                            Add New coupon
                                        </button>
                                        <span id="submit-err" class="form-error-msg"></span>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

</div> <!-- content -->

{{!-- <footer class="footer">
    © 2022 Homy by Mannatthemes.
</footer> --}}

</div>
<!-- End Right content here -->

</div>
<!-- END wrapper -->
